{{if .Page.Params.mermaid}}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js" language="javascript" type="text/javascript"></script>
<script>
	function mermaid_config(darkMode) {
		let config = {
				startOnLoad:false,
				flowchart: {
						useMaxWidth: true,
						htmlLabels: false,
				},
				theme: darkMode ? 'dark' : 'default',
				align: 'center',
		}

		return config;
	}

	function load_mermaid(darkMode) {	
				mermaid.initialize(mermaid_config(darkMode));
				var i = 0;
				var he = document.getElementsByClassName("hidden-mermaid");
				document.querySelectorAll('.mermaid').forEach(function(mermaidElem) {
					mermaid.mermaidAPI.render('mermaid-graph-'+i, 
							he[i].innerText,
							function(svgGraph){
								mermaidElem.innerHTML = svgGraph;
    					 		}
					);
					i++;
				});
	}

	window.onload = function() {
			let current_theme = window.matchMedia('(prefers-color-scheme: dark)').matches;
			load_mermaid(current_theme);
			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
					load_mermaid(event.matches);
			});
	}
</script>
{{end}}
<a href="{{ "/" | relURL }}" class="title">
  <h2>{{ .Site.Title }}</h2>
</a>
<nav>{{- partial "nav.html" . -}}</nav>
